
body {margin:0px; padding:0px}

#container {height:100%; width:100%; background-color:green}

ul {
    position: fixed;
    top: 0;
    width: 100%;
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
	float: left;
	}

li a {
    color: #555;
	display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0fc;
}

#content {height:auto; width:100%; background-color:lime}

#feeter {heigh:200px; width:100%; background-color:purple}

.entry {height: 500px; width:100%; background-color:orange; padding:20px; padding-top:100px}